<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Create prescription</title>
</head>
<body style="background-color:powderblue;">
<style>
table,th,td{
border: 1px solid black;
padding: 3px;
text-align: center;
}
table{
border-spacing: 5px;
}
</style>

<hr> <hr>
	<H1 align="center">HOSPITAL SWERSIE</H1>
	<hr>
	<a th:href="@{/patients}">homepage</a>
	 <hr>
	<br>
	<br>
       
        <table style="width:100%">
        <caption>Your appointments</caption>
        <tr>
            <th>AppointmentID</th>
            <th>Patient Name</th>
            <th>Prescription</th>
           
        </tr>
        <tr th:each="prescription : ${prescriptions}">
            <td th:text="${prescription.appointmentID}"></td>
          	<td th:text="${prescription.patientName}"></td>
          	<td th:text="${prescription.description}"></td>
          
        </tr>
    </table>



</body>
</html>
